@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary-color: #fec405;
  --heading-color: #2d2e32;
  --bg-color: #171718;
}
* {
  font-family: "Montserrat", sans-serif;
}
iframe {
  width: 100%;
}
.align-center {
  align-items: center;
}

center {
  h1 {
    font-weight: bold;
    font-size: 1.875rem;
  }
}
.splide__pagination {
  display: none !important;
}
p {
  color: #767676;
}

.nav {
  left: 50%;
  transform: translateX(-50%);
  max-width: 1320px;
  width: 100%;
}
body {
  overflow-x: hidden;
}
.text_primary_color {
  color: var(--primary-color);
}
.bg_primary_color {
  background-color: var(--primary-color) !important;
}
.bg_color {
  background-color: var(--bg-color);
}

.bg_header {
  background-image: url("../../public/img/family.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_heading_color {
  background: var(--heading-color);
}
.header {
  padding: 15% 0;

  h5 {
    letter-spacing: 0.5rem;
  }
}

.sidebar {
  transform: rotate(-90deg) translate(calc(-50% + 29px), -50%);
  top: 0;
  left: calc(-21%);
  width: calc(365px + 30%);
}

.header_text {
  transform: translate(-50%, -50%);
  width: 100%;
  height: 45%;
}

.header_banner {
  max-width: 1300px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 70%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  div {
    min-width: 345px;
  }
}
.about {
  &_right {
    max-width: 530px;
  }
  &_left {
    min-width: 650px;
    max-height: 700px;
  }
}
.about_img_2 {
  top: -80%;
  left: 160px;
  display: inline-block;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: -1;
  }
}
.title {
  h5 {
    letter-spacing: 0.5rem;
  }
  h1 {
    color: var(--heading-color);
  }
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}

.projects {
  max-width: 1300px;
  h2 {
    color: var(--heading-color);
  }
  button {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #767676;
    color: #767676;
  }
}
.loans {
  background-image: url("../../public/img/loan/bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center center;
  padding: 108px 10%;
  .img {
    width: 500px;
    height: 320px;
  }
  span {
    z-index: -1;
  }
  .loan_grid {
    width: 500px;
    h5 {
      letter-spacing: 0.3rem;
    }
  }
}

.white {
  h1 {
    color: white;
  }
}
.fl-direction {
  span {
    overflow: visible !important;
    img {
      margin-top: 5px !important;
      padding-left: 2px !important;
      padding-right: 2px !important;
    }
  }
}
.request {
  width: 100%;
  height: 100%;
  // padding: 108px 0;
  padding-top: 108px;
  padding-bottom: 108px;
  background-image: url("/img/extra1.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &::before {
    content: "";
    top: 0;
    left: 0%;
    position: absolute;
  }

  form {
    max-width: 768px;
    margin: 0 auto;
    padding: 7% 6%;
    background-color: rgba($color: #fff, $alpha: 0.85);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

    input {
      border: none;
      border-bottom: 1px solid #bababa;
      background-color: transparent;
    }
    .btn-ext {
      background-color: #fff;
    }

    label {
      color: #000000;
    }
    // option {
    //     border-bottom: 1px solid #bababa;
    // }
    select {
      border: none;
      border-bottom: 1px solid #bababa;
    }
  }
}
@media (max-width: 1200px) {
  .request {
    &::before {
      background-attachment: scroll;
    }
  }
}
.footer {
  // background-image: url("../../public/img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center center;
  &_container {
    max-width: 1300px;
  }
  span {
    width: 100%;
    z-index: -1;
  }

  &_left {
    min-width: 520px;
    grid-column: 1 span / 2;
  }
  &_item_1 {
    grid-column-start: 5;
  }
  &_item_2 {
    grid-column-start: 6;
  }
  &_item_3 {
    grid-column-start: 7;
    grid-column-end: 9;
  }
}

.copyright {
  background-color: #333333;
  &_container {
    max-width: 1024px;
  }
}

.detail {
  max-width: 1300px;
  margin: auto;
  h2 {
    color: var(--heading-color);
  }
  .img {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      background-color: var(--primary-color);
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  .banner {
    bottom: -80px;
    left: 0;
    z-index: 10;
    color: var(--primary-color);
  }
}
.product_header {
  background-color: rgba($color: #ffffff, $alpha: 0.8);
}
#product_picture {
  height: 80vh;
  background-image: url("../../public/img/08.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.product_picture_2 {
  width: 100%;
  height: 80vh;
  background-image: url("../../public/img/header_request_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  @media (max-width: 1200px) {
    background-attachment: scroll;
  }
}

.splide {
  visibility: visible !important;
}

.contact_grid {
  max-width: 1320px;
  margin: auto;
}

.loan {
  max-width: 1300px;
  margin: auto;
  padding: 0;
  padding-top: 70px;
  .title {
    height: 100px;
  }
}

.link {
  background-color: #fff;
  color: var(--bg-color);
  a {
    padding: 1rem 1.5rem;
    border-top: 1px solid #eee;
  }
}

.nav_btn {
  button {
    padding: 36px 1.5rem;
  }
  .link {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
  }
  &:hover {
    .svg_1 {
      transform: rotate(180deg);
    }
    button {
      align-items: center;
    }
    .link {
      transform: translateY(0);
      opacity: 1;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      visibility: visible;
    }
  }
}
.nav_btn_2 {
  button {
    padding: 1rem 1.5rem;
    text-align: left;
  }
  .link_2 {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
  }
  &:hover {
    .svg_2 {
      transform: rotate(180deg);
    }
    button {
      align-items: center;
    }
    .link_2 {
      transform: translateY(0);
      opacity: 1;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      visibility: visible;
    }
  }
}
.nav_btn_mobile {
  .link {
    opacity: 0;
    transform: translateY(-20px);
    top: 0;
    position: absolute;
    transition: 0s;
    z-index: -1;
    flex-direction: column;
  }
  &:hover {
    .svg_1 {
      transform: rotate(180deg);
    }
    button {
      align-items: center;
    }
    .link {
      transform: translateY(0);
      opacity: 1;
      transition: 0.5s;
      display: flex;
      position: relative;
      z-index: 10;
    }
  }
}

.mobile_nav_logo {
  span {
    width: 100% !important;
  }
}

.splide_1 {
  body {
    overflow: hidden;
  }
  position: absolute !important;
  z-index: 100;
  background-color: var(--bg-color);
  padding: 5%;
  overflow: hidden !important;
  cursor: pointer;
  .splide__track {
    height: 100% !important;
  }
}
.splide__arrow svg {
  fill: #6cb872 !important;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;

  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.ssswiper {
  background-color: gray;
}
.tab {
  color: black !important;
}
.td_extra {
  width: 70px;
}
.step {
  padding-left: 20%;
}
.step-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/img/extra2-1.jpg");
  background-size: cover;
  border-bottom-right-radius: 25%;
  border-top-right-radius: 25%;
  overflow: hidden;
}
.step-container-right {
  width: 50%;
  height: 100%;
}
.step-size {
  h1 {
    width: 100px;
  }
}
.header-bg-size {
  // height: 100vh;
  // background: linear-gradient(
  //     rgba(255, 255, 255, 0.9),
  //     rgba(255, 255, 255, 0.9)
  //   ),
  //   url("../../public/img/step-bg-cut2.png");
  // background-size: 70%;
  // background-repeat: no-repeat;
  // background-position-x: right;
  // background-position-y: center;
  overflow: hidden;
  height: 100vh;
}
.wrapper {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/poster.jpg");
  background-size: cover;
  height: 100vh;
  transform: scaleX(-1);
}
// .wrapper::after {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   content: "";
//   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
// }
.header-button {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #fec405;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-text-down {
  margin-top: 20px;
}
.header-title-width {
  width: 100%;
}
.sub-title-extra {
  transform: translate(-50%);
  width: 100%;
  text-align: center;
  // top: 85%;
  position: relative;
  // right: 25%;
  height: 10vh;
  margin-top: -10%;
  pointer-events: none;
}

.sub-title-text {
  text-transform: uppercase;
  font-size: 11px;
}
.header-content-title {
  padding-left: 10%;
}
strong {
  color: #fec405;
}
.header-content-size {
  width: 50%;

  span {
    width: 100% !important;
    height: 180% !important;
  }
}
.header-bg-image {
  span {
    overflow: visible !important;
  }
  img {
    margin-top: -10% !important;
  }
}
#lineh1 {
  background: #fec405;
  height: 50px;
  width: 5px;
  height: 50px;
  margin: auto;
  animation: lineH 1s infinite linear;
}
@keyframes lineH {
  0% {
    height: 0px;
  }
  100% {
    height: 50px;
    opacity: 0;
  }
}

.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fec405;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

/* Boilerplate stuff */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.check-list-size {
  display: flex;
}

.form_mobile {
  display: none !important;
}
