@media only screen and (max-width: 1500px) {
     #bg-header-id {
          background-image: url("../../public/img/family.png");
          background-attachment: fixed;
          background-position: 20% center;
          background-repeat: no-repeat;
          background-attachment: scroll;
          height: 100vh;
     }
     #product_picture,
     #product_picture_2 {
          height: 80vh;
          background-image: url("../../public/img/08.jpg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-attachment: scroll;
     }
     #product_picture_2 {
          background-image: url("../../public/img/parthner/kh10.jpg");
     }
     .sidebar {
          padding: 0 20px;
          padding-right: 120px;
          font-size: 0.9rem;
          left: -23%;
     }
}
@media only screen and (max-width: 1500px) {
     #bg-header-id {
          background-image: url("../../public/img/family.png");
          background-attachment: fixed;
          background-position: 20% center;
          background-repeat: no-repeat;
          background-attachment: scroll;
          height: 100vh;
     }
     #product_picture,
     #product_picture_2 {
          height: 80vh;
          background-image: url("../../public/img/08.jpg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-attachment: scroll;
     }
     #product_picture_2 {
          background-image: url("../../public/img/parthner/kh10.jpg");
     }
     .sidebar {
          display: none;
     }

     .banner {
          padding: 2rem 0;
     }

     .menu {
          cursor: url(/img/cursor.png), pointer !important;
     }
}
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
     #bg-header-id {
          background-image: url("../../public/img/family.png");
          background-attachment: fixed;
          background-position: 20% center;
          background-repeat: no-repeat;
          background-attachment: scroll;
          height: 100vh;
     }
     .header-content-size {
          span {
               width: 100% !important;
               height: 130% !important;
          }
     }
     .step {
          padding-left: 5%;
     }
     .header_text {
          h1 {
               font-size: 30px;
          }
          a {
               font-size: 14px;
               padding: 10px 15px;
          }
     }
     .header_banner {
          transform: translate(-50%, 85%);
          padding: 2rem, 3rem;
          div {
               min-width: 300px;
               span {
                    height: 30px !important;
               }
               h2 {
                    font-size: 20px;
               }
               p {
                    font-size: 14px;
               }
          }
          .w-2 {
               margin: 0 3rem;
          }
     }
     .contact_grid {
          grid-template-columns: repeat(2, 1fr);
          &_item {
               grid-column: 1 / 3;
          }
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          .w-3\/5 {
               width: 100%;
               padding: 10px;
               height: 640px;
          }
          .w-2\/5 {
               width: 100%;
               padding: 10px;
               margin-top: 80px;
          }
     }
     .product_header {
          width: 100%;
          margin: auto 10px;
     }
     .footer {
          &_container {
               grid-template-columns: repeat(2, 1fr);
               padding: 100px 10px;
          }
          &_item {
               grid-column-start: auto;
          }
          &_item_2,
          &_item_3 {
               margin-top: 2rem;
          }
     }
     .detail {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          .pr-24 {
               padding: 10px;
               margin-bottom: 20px;
          }
          .img {
               width: calc(100% - 15px);
          }
          .banner {
               position: relative;
               width: 100%;
               grid-template-columns: repeat(3, 1fr);
               display: grid;
               grid-gap: 2rem;
               span {
                    margin-bottom: 1rem;
               }
          }
          grid-template-columns: repeat(2, 1fr);
     }
     .about {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          &_left {
               min-width: auto;
               max-height: 100%;
          }
          &_img_1 {
               width: 75%;
          }
          &_img_2 {
               position: absolute;
               top: 240px;
               right: 15px;
               left: auto;
               width: 45%;
          }
          .ml-12 {
               margin: 0;
               margin-top: 2rem;
          }
          &_right {
               max-width: 100%;
          }
     }
     #product_picture,
     #product_picture_2 {
          height: 80vh;
          background-image: url("../../public/img/08.jpg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-attachment: scroll;
     }
     #product_picture_2 {
          background-image: url("../../public/img/parthner/kh10.jpg");
     }
     .loans {
          padding: 108px 5%;
     }

     .loan {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          .title {
               max-width: 100%;
               padding: 0;
               margin-bottom: 40px;
               height: 0;
          }
          .pr-24 {
               padding: 1rem;
          }
     }
}
@media only screen and (max-width: 900px) {
     .project {
          h2 {
               font-size: 20px;
          }
     }
     .step {
          padding-left: 5%;
     }
     .header-content-size {
          span {
               width: 100% !important;
               height: 120% !important;
          }
     }
}

@media only screen and (max-width: 768px) {
     .step-container-right {
          display: none;
     }
     // .header-bg-size {
     //   height: 60vh;
     // }
     .header-button {
          width: 70px;
          height: 70px;
     }

     .step {
          padding-left: 0%;
     }
     .step-container {
          justify-content: center;
     }
     .header_text a {
          font-size: 11px !important;
     }
     // .condition-header-size {
     //   margin-top: 5%;
     // }
     .sub-title-text {
          font-size: 11px;
     }
     .header_text {
          width: 100%;
          h5 {
               font-size: 52px;
               margin-bottom: 10px;
          }
          h1 {
               font-size: 25px;
          }
          a {
               font-size: 14px;
               padding: 10px 15px;
          }
     }
     .header_banner {
          div {
               min-width: 230px;
               p {
                    font-size: 12px;
               }
          }
          padding: 20px 30px;
          .w-2 {
               margin: 0 1.5rem;
               margin-bottom: 20px;
          }
     }
     #bg-header-id {
          background-image: url("../../public/img/family.png");
          background-attachment: fixed;
          background-position: 20% center;
          background-repeat: no-repeat;
          background-attachment: scroll;
          height: 100vh;
     }
     .contact_grid {
          grid-template-columns: repeat(1, 1fr);
          padding: 50px 0;
          &_item {
               grid-column: 1 / span 1;
          }
     }
     .product_header {
          h1 {
               font-size: 2.5rem;
          }
     }
     .footer {
          &_container {
               grid-template-columns: repeat(2, 1fr);
               -ms-flex-pack: distribute;
               justify-content: space-around;
               grid-gap: 5rem;
          }
          .footer_left {
               padding: 10px;
               min-width: auto;
          }
          &_item {
               margin-top: 2rem;
               padding: 10px;
          }
     }
     .copyright {
          &_container {
               -webkit-box-orient: vertical;
               -webkit-box-direction: normal;
               -ms-flex-direction: column;
               flex-direction: column;
               -webkit-box-align: center;
               -ms-flex-align: center;
               align-items: center;
               .flex {
                    margin-top: 1rem;
               }
          }
     }
     .detail {
          padding-top: 100px;
          .banner {
               grid-template-columns: repeat(1, 1fr);
               span {
                    padding: 40px 10px;
               }
          }
          h1 {
               font-size: 2.5rem;
          }
          grid-template-columns: repeat(1, 1fr);
     }
     .product_picture_mini {
          div {
               width: 100%;
               img {
                    width: 100%;
               }
          }
     }
     .projects {
          .gap-20 {
               grid-gap: 0;
               grid-template-columns: repeat(2, 1fr);
               -webkit-box-pack: center;
               -ms-flex-pack: center;
               justify-content: center;
          }
          .project_item_3 {
               grid-column: 1 / span 3;
          }
          .project_item_1 {
               margin-right: 1rem;
               margin-bottom: 2rem;
          }
          .project_item_2 {
               margin-left: 1rem;
          }
     }
     #product_picture,
     #product_picture_2 {
          height: 80vh;
          background-image: url("../../public/img/08.jpg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-attachment: scroll;
     }
     #product_picture_2 {
          background-image: url("../../public/img/parthner/kh10.jpg");
     }

     .loans {
          grid-gap: 2rem;
          .loan_grid {
               width: 100%;
          }
          .mr-24 {
               margin-right: 2rem;
          }
     }
     .request {
          form {
               max-width: 768px;
               margin: 0 10px;
          }
     }
     .about_img_1 {
          width: 100%;
     }
     .mobile_navbar {
          ul {
               width: 50%;
          }
     }
}
@media only screen and (max-width: 600px) {
     .step-container {
          justify-content: center;
     }
     .sub-title-text {
          font-size: 11px;
     }

     .sub-title-extra {
          transform: translate(-50%);
          // top: 95%;
          margin-top: -15%;
     }
     // .header-bg-size {
     //   height: 20vh;
     // }
     .step {
          p {
               font-size: 13px;
          }
          h1 {
               font-size: 65px !important;
          }
          h2 {
               font-size: 20px;
          }
     }
     .step_2 {
          h1 {
               font-size: 30px;
          }
          h2 {
               font-size: 20px;
          }
     }
     .step_2_text {
          font-size: 13px;
     }
     .header_banner {
          display: flex;
          flex-direction: column;
          padding: 15px 20px;
          transform: translate(-50%, 55%) !important;
          width: 85% !important;
          div {
               &:nth-child(1) {
                    margin-bottom: 20px;
               }
          }
          .w-2 {
               width: 230px;
               height: 1px;
               margin: 0;
               margin-bottom: 20px;
          }
     }
     .header_about {
          flex-direction: column;
          .ml-12 {
               margin: 0;
               p {
                    text-align: justify;
               }
          }
     }
     .condition_text {
          h1 {
               font-size: 20px !important;
          }
     }
}

@media only screen and (max-width: 600px) {
     .tab {
          font-size: 12px !important;
     }
     // .condition-header-size {
     //   margin-top: 15%;
     // }
     .step {
          padding-left: 0%;
     }
     .header-button {
          width: 70px;
          height: 70px;
     }
     .header_text h5 {
          font-size: 28px;
     }
     .css-1dvs5r2 {
          left: 55%;
     }
     .header-request-size {
          background-size: 230% !important;
          background-position-x: 80% !important;
          background-position-y: 50% !important;
     }
     .step-container {
          border-bottom-right-radius: 0%;
          border-top-right-radius: 0%;
     }
     .step-box {
          max-width: 300px !important;
          min-width: 300px !important;
     }
     .grid-cols-2 {
          grid-template-columns: repeat(1, minmax(0, 1fr));
     }

     .step {
          p {
               font-size: 13px;
          }
          h1 {
               font-size: 30px;
          }
          h2 {
               font-size: 20px;
          }
     }
     .step_2 {
          h1 {
               font-size: 30px;
          }
          h2 {
               font-size: 20px;
          }
     }
     .step_2_text {
          font-size: 13px;
     }
     .header_banner {
          display: flex;
          flex-direction: column;
          padding: 15px 20px;
          transform: translate(-50%, 95%);
          div {
               &:nth-child(1) {
                    margin-bottom: 20px;
               }
          }
          .w-2 {
               width: 230px;
               height: 1px;
               margin: 0;
               margin-bottom: 20px;
          }
     }
     .header_about {
          flex-direction: column;
          .ml-12 {
               margin: 0;
               p {
                    text-align: justify;
               }
          }
     }
     .condition_text {
          font-size: 20px;
     }
     .text-2xl {
          font-size: 1.15rem;
     }
     .extr-p {
          font-size: 0.813rem;
     }
     .fl-direction {
          flex-direction: column;
          text-align: center;
          width: 90%;
          margin: 0 auto;
          ul {
               margin: 25px auto !important;
          }
     }
     .p-margin {
          p {
               margin: 25px 0;
          }
     }
     .p-size-ext {
          margin: 0 20px !important;
     }
     // .header-bg-size {
     //   height: 40vh;
     // }
     .screen {
          height: 100vh;
          .screen_slide {
               height: 100vh;
               span {
                    height: 100% !important;
                    overflow-x: none;
                    .fam01 {
                         margin-left: -190% !important;
                    }
                    .fam02 {
                         margin-left: -40% !important;
                    }
                    .fam03 {
                         margin-left: -120% !important;
                    }
                    img {
                         min-width: 360% !important;
                         max-width: 360% !important;
                    }
               }
          }
     }
     .form_mobile {
          display: block !important;
          justify-content: center;
          align-items: center;
     }
     .form_desktop {
          display: none !important;
     }
}
@media only screen and (max-height: 500px) {
     .css-85cajt {
          height: 60vh;
     }
     // .condition-header-size {
     //   margin-top: 10%;
     // }
}
@media only screen and (max-width: 480px) {
     #bg-header-id {
          background-image: url("../../public/img/family.png");
          background-attachment: fixed;
          background-position: 20% center;
          background-repeat: no-repeat;
          background-attachment: scroll;
          height: 100vh;
     }
     // .condition-header-size {
     //   margin-top: 20%;
     // }
     .header_text a {
          font-size: 11px !important;
     }
     .header-button {
          width: 120px;
          height: 50px;
          margin-top: 0px;
          border-radius: 0;
     }
     .sub-title-extra {
          margin-top: 0%;
          padding-top: 20px;
          background-color: #f7f7f7;
          h5 {
               color: black !important;
          }
     }
     .header {
          .relative {
               margin-top: 65%;
          }
          .header_text {
               width: 100%;
               margin-bottom: 70px;
          }
     }
     .request_btn {
          font-size: 0.8rem;
          padding: 1rem 2rem;
     }
     .text-4xl {
          font-size: 1.75rem;
     }

     .contact_grid {
          .w-2\/5 {
               h1 {
                    font-size: 2.5rem;
               }
          }
     }
     .about {
          padding: 40px 0;
          margin-bottom: 40px;
          &_img_2 {
               top: 100px;
          }
     }
     .header {
          padding-top: 84px;
          h1 {
               font-size: 2.5rem;
          }
          h5 {
               font-size: 1rem;
          }
     }
     .title {
          h1 {
               font-size: 2rem;
          }
          h5 {
               font-size: 0.8rem;
               letter-spacing: 0.3rem;
          }
     }
     #product_picture,
     #product_picture_2 {
          height: 80vh;
          background-image: url("../../public/img/08.jpg");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-attachment: scroll;
     }
     #product_picture_2 {
          background-image: url("../../public/img/parthner/kh10.jpg");
     }
     .projects {
          .gap-20 {
               grid-template-columns: repeat(1, 1fr);
          }
          .project_item_3 {
               grid-column: auto;
          }
          .project_item_1,
          .project_item_2 {
               margin: 0;
               margin-bottom: 10px;
          }
     }
     .loans {
          .z-30 {
               -webkit-box-orient: vertical;
               -webkit-box-direction: normal;
               -ms-flex-direction: column;
               flex-direction: column;
               .loan_grid {
                    margin: 0;
                    margin-bottom: 30px;
               }
          }
     }
     .request {
          background-image: url("../../public/img/smile01.jpg");
          background-attachment: scroll;
          background-repeat: no-repeat;
          background-size: 300% 100%;
          background-position: center center;

          .my-32 {
               margin: 30px 40px;
               padding-bottom: 110px;
          }
          h1 {
               font-size: 2.5rem;
          }
     }
     .loan {
          padding-top: 40px;
          table {
               font-size: 0.8rem;
          }
     }
     .footer_container {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 0rem;
          padding: 60px 10px;
          ul {
               margin-top: 2rem;
          }
     }
     .contact_grid {
          padding: 0;
          padding-bottom: 50px;
     }
     .relative {
          .flex-1 {
               width: 85%;
               text-align: justify;
               margin: 0 auto;
          }
     }
}
