@media only screen and (max-width: 1500px) {
  #bg-header-id {
    background-image: url("../../public/img/family.png");
    background-attachment: fixed;
    background-position: 20% center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
  }
  #product_picture,
  #product_picture_2 {
    height: 80vh;
    background-image: url("../../public/img/08.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
  }
  #product_picture_2 {
    background-image: url("../../public/img/parthner/kh10.jpg");
  }
  .sidebar {
    padding: 0 20px;
    padding-right: 120px;
    font-size: 0.9rem;
    left: -23%;
  }
}

@media only screen and (max-width: 1500px) {
  #bg-header-id {
    background-image: url("../../public/img/family.png");
    background-attachment: fixed;
    background-position: 20% center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
  }
  #product_picture,
  #product_picture_2 {
    height: 80vh;
    background-image: url("../../public/img/08.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
  }
  #product_picture_2 {
    background-image: url("../../public/img/parthner/kh10.jpg");
  }
  .sidebar {
    display: none;
  }
  .banner {
    padding: 2rem 0;
  }
  .menu {
    cursor: url(/img/cursor.png), pointer !important;
  }
}

@media only screen and (max-width: 1200px) {
  .step {
    position: absolute;
    left: 60%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width: 900px) {
  .project h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  #bg-header-id {
    background-image: url("../../public/img/family.png");
    background-attachment: fixed;
    background-position: 20% center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
  }
  .header_text h1 {
    font-size: 30px;
  }
  .header_text a {
    font-size: 14px;
    padding: 10px 15px;
  }
  .header_banner {
    -webkit-transform: translate(-50%, 85%);
            transform: translate(-50%, 85%);
    padding: 2rem, 3rem;
  }
  .header_banner div {
    min-width: 300px;
  }
  .header_banner div span {
    height: 30px !important;
  }
  .header_banner div h2 {
    font-size: 20px;
  }
  .header_banner div p {
    font-size: 14px;
  }
  .header_banner .w-2 {
    margin: 0 3rem;
  }
  .contact_grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact_grid_item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .contact_grid .w-3\/5 {
    width: 100%;
    padding: 10px;
    height: 640px;
  }
  .contact_grid .w-2\/5 {
    width: 100%;
    padding: 10px;
    margin-top: 80px;
  }
  .product_header {
    width: 100%;
    margin: auto 10px;
  }
  .footer_container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 100px 10px;
  }
  .footer_item {
    -ms-grid-column: auto;
        grid-column-start: auto;
  }
  .footer_item_2, .footer_item_3 {
    margin-top: 2rem;
  }
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .detail .pr-24 {
    padding: 10px;
    margin-bottom: 20px;
  }
  .detail .img {
    width: calc(100% - 15px);
  }
  .detail .banner {
    position: relative;
    width: 100%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
  }
  .detail .banner span {
    margin-bottom: 1rem;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about_left {
    min-width: auto;
    max-height: 100%;
  }
  .about_img_1 {
    width: 75%;
  }
  .about_img_2 {
    position: absolute;
    top: 240px;
    right: 15px;
    left: auto;
    width: 45%;
  }
  .about .ml-12 {
    margin: 0;
    margin-top: 2rem;
  }
  .about_right {
    max-width: 100%;
  }
  #product_picture,
  #product_picture_2 {
    height: 80vh;
    background-image: url("../../public/img/08.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
  }
  #product_picture_2 {
    background-image: url("../../public/img/parthner/kh10.jpg");
  }
  .loans {
    padding: 108px 5%;
  }
  .loan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .loan .title {
    max-width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .header_text {
    width: 100%;
  }
  .header_text h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .header_text h1 {
    font-size: 25px;
  }
  .header_text a {
    font-size: 14px;
    padding: 10px 15px;
  }
  .header_banner {
    padding: 20px 30px;
  }
  .header_banner div {
    min-width: 230px;
  }
  .header_banner div p {
    font-size: 12px;
  }
  .header_banner .w-2 {
    margin: 0 1.5rem;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .step {
    position: absolute;
    left: 70%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .step p {
    font-size: 13px;
  }
  .step h1 {
    font-size: 30px;
  }
  .step h2 {
    font-size: 20px;
  }
  .step_2 h1 {
    font-size: 30px;
  }
  .step_2 h2 {
    font-size: 20px;
  }
  .step_2_text {
    font-size: 13px;
  }
  .header_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 20px;
    -webkit-transform: translate(-50%, 55%) !important;
            transform: translate(-50%, 55%) !important;
    width: 85% !important;
  }
  .header_banner div:nth-child(1) {
    margin-bottom: 20px;
  }
  .header_banner .w-2 {
    width: 230px;
    height: 1px;
    margin: 0;
    margin-bottom: 20px;
  }
  .header_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_about .ml-12 {
    margin: 0;
  }
  .header_about .ml-12 p {
    text-align: justify;
  }
  .condition_text h1 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 768px) {
  #bg-header-id {
    background-image: url("../../public/img/family.png");
    background-attachment: fixed;
    background-position: 20% center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
  }
  .contact_grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 50px 0;
  }
  .contact_grid_item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .product_header h1 {
    font-size: 2.5rem;
  }
  .footer_container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-flex-pack: distribute;
    justify-content: space-around;
    grid-gap: 5rem;
  }
  .footer .footer_left {
    padding: 10px;
    min-width: auto;
  }
  .footer_item {
    margin-top: 2rem;
    padding: 10px;
  }
  .copyright_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .copyright_container .flex {
    margin-top: 1rem;
  }
  .detail {
    padding-top: 100px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .detail .banner {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .detail .banner span {
    padding: 40px 10px;
  }
  .detail h1 {
    font-size: 2.5rem;
  }
  .product_picture_mini div {
    width: 100%;
  }
  .product_picture_mini div img {
    width: 100%;
  }
  .projects .gap-20 {
    grid-gap: 0;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .projects .project_item_3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  .projects .project_item_1 {
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  .projects .project_item_2 {
    margin-left: 1rem;
  }
  #product_picture,
  #product_picture_2 {
    height: 80vh;
    background-image: url("../../public/img/08.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
  }
  #product_picture_2 {
    background-image: url("../../public/img/parthner/kh10.jpg");
  }
  .loans {
    grid-gap: 2rem;
  }
  .loans .loan_grid {
    width: 100%;
  }
  .loans .mr-24 {
    margin-right: 2rem;
  }
  .request form {
    max-width: 768px;
    margin: 0 10px;
  }
  .about_img_1 {
    width: 100%;
  }
  .mobile_navbar ul {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  #bg-header-id {
    background-image: url("../../public/img/family.png");
    background-attachment: fixed;
    background-position: 20% center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
  }
  .header .relative {
    margin-top: 65%;
  }
  .header .header_text {
    width: 100%;
    margin-bottom: 70px;
  }
  .request_btn {
    font-size: 0.8rem;
    padding: 1rem 2rem;
  }
  .text-4xl {
    font-size: 1.75rem;
  }
  .contact_grid .w-2\/5 h1 {
    font-size: 2.5rem;
  }
  .about {
    padding: 40px 0;
    margin-bottom: 40px;
  }
  .about_img_2 {
    top: 100px;
  }
  .header {
    padding-top: 84px;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .header h5 {
    font-size: 1rem;
  }
  .title h1 {
    font-size: 2rem;
  }
  .title h5 {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }
  #product_picture,
  #product_picture_2 {
    height: 80vh;
    background-image: url("../../public/img/08.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
  }
  #product_picture_2 {
    background-image: url("../../public/img/parthner/kh10.jpg");
  }
  .projects .gap-20 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .projects .project_item_3 {
    grid-column: auto;
  }
  .projects .project_item_1,
  .projects .project_item_2 {
    margin: 0;
    margin-bottom: 10px;
  }
  .loans .z-30 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .loans .z-30 .loan_grid {
    margin: 0;
    margin-bottom: 30px;
  }
  .request {
    background-image: url("../../public/img/02.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 300% 100%;
    background-position: center center;
  }
  .request .my-32 {
    margin: 30px 40px;
    padding-bottom: 110px;
  }
  .request h1 {
    font-size: 2.5rem;
  }
  .loan {
    padding-top: 40px;
  }
  .loan table {
    font-size: 0.8rem;
  }
  .footer_container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
    padding: 60px 10px;
  }
  .footer_container ul {
    margin-top: 2rem;
  }
  .contact_grid {
    padding: 0;
    padding-bottom: 50px;
  }
  .relative .flex-1 {
    width: 85%;
    text-align: justify;
    margin: 0 auto;
  }
}

@media only screen and (max-height: 500px) {
  .css-85cajt {
    height: 60vh;
  }
}

@media only screen and (max-width: 600px) {
  .css-1dvs5r2 {
    left: 55%;
  }
  .grid-cols-2 {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .step {
    position: absolute;
    left: 65%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .step p {
    font-size: 13px;
  }
  .step h1 {
    font-size: 30px;
  }
  .step h2 {
    font-size: 20px;
  }
  .step_2 h1 {
    font-size: 30px;
  }
  .step_2 h2 {
    font-size: 20px;
  }
  .step_2_text {
    font-size: 13px;
  }
  .header_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 20px;
    -webkit-transform: translate(-50%, 95%);
            transform: translate(-50%, 95%);
  }
  .header_banner div:nth-child(1) {
    margin-bottom: 20px;
  }
  .header_banner .w-2 {
    width: 230px;
    height: 1px;
    margin: 0;
    margin-bottom: 20px;
  }
  .header_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_about .ml-12 {
    margin: 0;
  }
  .header_about .ml-12 p {
    text-align: justify;
  }
  .condition_text {
    font-size: 20px;
  }
  .text-2xl {
    font-size: 1.15rem;
  }
  .extr-p {
    font-size: 0.813rem;
  }
  .fl-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .fl-direction ul {
    margin: 25px auto !important;
  }
  .p-margin p {
    margin: 25px 0;
  }
  .p-size-ext {
    margin: 0 20px !important;
  }
  .header-bg-size {
    height: 100vh;
  }
  .screen {
    height: 100vh;
  }
  .screen .screen_slide {
    height: 100vh;
  }
  .screen .screen_slide span {
    height: 100% !important;
    overflow-x: none;
  }
  .screen .screen_slide span .fam01 {
    margin-left: -190% !important;
  }
  .screen .screen_slide span .fam02 {
    margin-left: -40% !important;
  }
  .screen .screen_slide span .fam03 {
    margin-left: -120% !important;
  }
  .screen .screen_slide span img {
    min-width: 360% !important;
    max-width: 360% !important;
  }
}
/*# sourceMappingURL=response.css.map */